html
  head
    title= "Movies"
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    link(rel='shortcut icon', href='../img/cine.svg', type='image/x-icon')
    link(rel="stylesheet", href="movie.css")
  body
  div#div
    h1= Title
    h2= Year
    h3= Director
    img(src=Poster id=("Poster"))
    h4= Actors
    h5= Awards
    h6= Genre
    h7= Runtime
    div#botonesmovie
      input(type="button", value="Home" id="botonHome")
      input(type="button", value="Guardar" id="boton3")
    script(type="text/javascript" src="./scriptfavs.js")